.container{
    font-weight: bold;
}
.input{
    width: 500px;
    height: 50px;
}

.btn{
    margin-left: 15%;
    width: 80px;
    height: 40px;
}

.output{
    color :black;   
    font-weight: bold;
}